*{
	margin:0;
	padding:0;
}

html {
  height: 100%;
}

body {
  font-family: 'Bangers', cursive;
  background: url('../images/background.jpg') #79c9fa center bottom repeat-x;
  height: 100%;
  min-height: 100%;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

h1{
	text-align:center;
	font: normal 92px 'Bangers', cursive;
	color:#518191;
	padding-top:20px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

#hello{
    text-align:center;
    text-decoration:none;
    color: cornflowerblue;
    font:45px "Bangers";
    letter-spacing:5px;
    padding-top:70px;
}

.maintext{
    text-align:center;
    text-decoration:none;
    color: darkblue;
    font: 40px "Bangers";
    letter-spacing:5px;
    margin-top: 60px;
}

#cats{
    text-align:center;
    color: black;
    font: 20px "Bangers";
    padding-top:150px;
}

#footer {
    clear:both; 
    width:100%; 
    height:50px; 
    text-align:center;
    position: absolute;
    bottom: 0px;
    font: 30px "Bangers";
    color:darkolivegreen;
}    

